{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="info_parcours">
                <p class="pgras">{% trans %}base.bledvoyage.booking.recapitulatif{% endtrans %}</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="info_parcours">
                <p class="pgras1">{% trans %}base.bledvoyage.booking.confirmation{% endtrans %}</p>
                <div class="rectangle1">
                </div>
            </div>
        </div>
        <div class="resae">
            <div class="sectiar">
                <h2>{% trans %}base.bledvoyage.booking.envoyer_1{% endtrans %}</h2>
            </div>
            <div class="sectiono">
                <p>{% trans %}base.bledvoyage.booking.envoyer_2{% endtrans %}</p>
                <p>{% trans %}base.bledvoyage.booking.envoyer_3{% endtrans %}</p>
                <p>{% trans %}base.bledvoyage.booking.envoyer_4{% endtrans %}</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block jquery %}{% endblock %}
