{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bloc_page_body3">
    <div class="bloc_page_body222">
        <h2>{% trans %}base.bledvoyage.confirmation.merci{% endtrans %}</h2>
        </div>
    <section>
        <div class="resae">
            <div class="sectiar">
                <h2>{% trans %}base.bledvoyage.confirmation.avis_1{% endtrans %}</h2>
            </div>
            <div class="sectiono">
                <p>{% trans %}base.bledvoyage.confirmation.avis_2{% endtrans %}</p>
                <p>{% trans %}base.bledvoyage.confirmation.merci{% endtrans %}</p>
            </div>
        </div>
    </section>	
</div>
{% endblock %}

{% block jquery %}{% endblock %}
