{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bloc_page_body3">
    <div class="bloc_page_body222">
        <h2> Merci! </h2>
        </div>
    <section>
        <div class="resae">
            <div class="sectiar">
                <h2>Avis envoyé!</h2>
            </div>
            <div class="sectiono">
                <p>Votre avis a été envoyé à l'équipe. Il sera mis en ligne dans quelques instants.</p>
                <p>Merci!</p>
            </div>
        </div>
    </section>	
</div>
{% endblock %}

{% block jquery %}{% endblock %}
