{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bloc_page_body222">
    <h2>
        Création d'une sortie 
    </h2>
</div>	
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="parcre">
                <p class="pgras">Création</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras">Finalisation</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras1">Confirmation</p>
                <div class="rectangle1">
                </div>
            </div>
        </div>
        <div class="resae">
            <div class="sectiar">
                <h2>Sortie envoyée!</h2>
            </div>
            <div class="sectiono">
                <p>Votre sortie a été transmise à l'équipe, pour validation.</p>
                <p>Vous receverez un e-mail dès que possible, n'hésitez pas à consutler le dossier "courrier indesirable".</p>
                <br />
            </div>
        </div>
    </section>
    <div class="plusrc">
        <p>
            <a href="{{ path('base_bledvoyage_homepage') }}">
                Revenir au site bledvoyage.com
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block jquery %}{% endblock %}
