{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="info_parcours">
                <p class="pgras">Recapitulatif et réservation</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="info_parcours">
                <p class="pgras1">Confirmation</p>
                <div class="rectangle1">
                </div>
            </div>
        </div>
        <div class="resae">
            <div class="sectiar">
                <h2>Commande envoyée!</h2>
            </div>
            <div class="sectiono">
                <p>Votre commande a été transmise aux organisateurs, elle est en attente de confirmation.</p>
                <p>Vous recevrez un e-mail dans quelques jours, n'hésitez pas à consulter le dossier "courrier indésirable ».</p>
                <p>Si dans les 5 heures vous ne recevez pas d'appels de notre part, merci de nous le signaler sur le +213 553 815 922 ou sur contact@bledvoyage.com</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block jquery %}{% endblock %}
